.ChatBar{
   position: absolute;
    height: 30em;
    width: 15%;
    background: white;
    right: 0.5%;
    top:20%;

}

.ChatBar h3{
    text-align: center;
    font-size: 1.5em;
    padding: 3%;
    background: rgb(35, 153, 94);
    color: rgb(1, 59, 1);
}

.ChatBar h4{
    padding: 2%;
    margin-left: 10%;
    font-size: 1.5em;
    width: 100%;
}
.list-chat-name:hover{
    background: rgb(226, 225, 225);
    cursor: pointer;
    width: 99%;
}


.conversation{
    position: fixed;
    right: 0.5%;
    bottom: 0px;
    width: 5%;
    z-index: 4;
    float: right;
    
}

.messages{
    display: none;
    height: 25em;
    margin-left: -13.1em;
    background : white;
    position: relative;
    word-break: break-all;
    border:solid black 1px;
    margin-bottom: 0.74em;
}
.message-text{
    height: 75%;
    overflow: auto;
    padding: 5%;
    width: 100%;
}

.input-messages{
    position: absolute;
    bottom: 2em;
    width: 100%;
    margin-left:4%; 
    padding: 2%;
    height: 2em;
    
}
.input-messages input{
    height: 2.2em!important;
    width: 93%;
}
.input-messages button{
    width: 2.8em;
    height: 2em;
    margin-top: 0.4em;
    margin-left: -01em;
    background: green;
    border: solid green;
}

.img-chat{
    background: white;
    font-size: 0.8em;
    height: 100%;
    padding: 3%;
    cursor: pointer;
    width: 100%;
    float: left;
    z-index: 4;
    padding: 6%;
    border: solid black 1px;
}

.img-chat img{
    float: left;
    width: 70%;
    height: 5em;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-left: 15%;
    border-radius: 100%;
    text-align: center;
}

.list-chat-name img  {
    width: 1.3em;
    height: 1.3em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;

}
.userName-chat{
    font-size: 1.3em;
}


.chat-list-contacts{
    overflow: auto;
    height: 83%;
    text-overflow: ellipsis;
}

.chat-list-contacts::-webkit-scrollbar , .message-text::-webkit-scrollbar {
    width: 10px;
    z-index: 2;
    
}

.chat-list-contacts::-webkit-scrollbar-thumb , .message-text::-webkit-scrollbar-thumb{
    background : rgba(0, 44, 95, 0.87);
    border-radius: 10px;
}

.chat-design {
    width: 1.1em;
    height: 1.1em;
    background : white;
    text-align: center;
    margin-left: 40%;
    margin-top:-1.3em!important;
    transform: rotate(45deg);
    right: 0;
    z-index: 1;
    border-bottom:solid black 1px;
    border-right:solid black 1px;
}

.chat-header{
    width: 100%;
    height: 3em;
    padding: 3%;
    background: rgb(71, 182, 104);
}
.chat-header h3{
    height: 100%;
    width: 50%;
    float: left;
}
.chat-header-options{
    position: absolute;
    font-size: 1em;
    background: none;
    border: none;
    color:black;
    margin-left: 30%;
}
.chat-header-options:last-child{
    margin-left: 40%;
}

