.NavBar {
    
    top : 0;
    left: 0;
    height: 3.8em;
    width: 100%;
    background-color: #333;
    font-size: 1.3em;
}
.NavBar .logo{
    
    height: 260%;
    width: 4.6em;
    margin-left: -15px;
    margin-top: -55px;
}
.NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    height: 100%;
    
  }
  
  
  .NavBar   li {
    float: left;
    height: 100%;
  }
  
  li a , .NavBarItem{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    height: 100%;
    
  }
  
  .NavBar  li a:hover {
    background-color: #111;
  }

 .NavBar li:last-child{
    cursor: pointer;
   
    float: right;
    background-color: red;
}

.NavBar li:first-child a:hover{
  background: none!important;
}

.NavBar i{
    margin-right: 10px;
}
.NavBarButton{
    font-size: 1em;
    margin-top : -10px!important;
    
    color:white!important;
    background : none!important;
    
}
.uploadPhoto{
    margin-left: 4em;
}
.searchInput{
    margin-left: 3em;
    margin-right: -0.9em;
}
.NavBar input{
    margin-top: 1.4em!important;
    width: 15em!important;
    padding: 3%!important;
    color: black!important;
    text-align: left!important;
    height: 30px!important;
    margin-bottom: 3em;
}
.NavBar form li:last-child{
  background:none;
  cursor: auto;
  float: left;
  font-size: 1.2em;
}

@media only screen and (max-width: 1500px) {
  .NavBar{
    font-size: 1.1em;
    content: icon;
  }
  .NavBarButton {
    font-size: 0.9em!important;
  }
}