body{
    background-color: teal;
}
.loginForm{
    position: absolute;
    right: 0px;
    width: 31em;
    height: 100%;
    padding: 30px;
    margin-right: 0;
    background-color: white;
    text-align: center;
}
.loginInput{
    margin-top: 16%;
    
}

.ant-form-explain{
    text-align: left;
}

img{
    width: 60%;
    margin-bottom: -3em;
}

.ant-drawer-body button{
    margin-left: 40%;
}
.ant-drawer-body button:last-child{
    margin-left: 2%;
}

@media only screen and (max-width: 980px) {  
  .ant-drawer-content-wrapper{
    width: 100% !important;   
    }
}

@media only screen and (max-width: 500px) {  
    .loginForm{
        width: 100%;
    }
    .ant-drawer-body button{
        margin-left: 36%;
    }
    
  }  